@{
    ViewBag.Title = "Index";
}

<br /><br /><br /><br /><br /><br />
<h2 class="highlighthead">Daivatham Contests</h2>

<br /><br />
<h3 class="highlighthead">Coming soon..</h3>

@*<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#" onclick="javascript: resetActive(event, 0, 'step-1');">Open Contests</a></li>
    <li><a href="#"<a href="#" onclick="javascript: resetActive(event, 0, 'step-2');">Currently Voting</a></li>
    <li><a href="#"<a href="#" onclick="javascript: resetActive(event, 0, 'step-3');">Closed Contests</a></li>

</ul>
<div class="row setup-content step activeStepInfo" id="step-1">
    <div class="col-xs-12">
        <div class="col-md-12 well text-left thumbnailpadding">
            <div style="margin: 10px; height:400px">
                <img src="~/Content/Img/slide3.jpg" class="img-responsive"/><br />
                <a href="~/Details/Event/2345-sd0as-12233"><b>Onam Photography Contest 2014</b></a><br />
                Last Date to submit your photo 8/9/2014
            </div>
        </div>
    </div>
</div>

<div class="row setup-content step activeStepInfo" id="step-2">
    <div class="col-xs-12">
        <div class="col-md-12 well text-left">
        </div>
    </div>
</div>

<div class="row setup-content step activeStepInfo" id="step-3">
    <div class="col-xs-12">
        <div class="col-md-12 well text-left">
        </div>
    </div>
</div>*@
