<div id="colordiv">
    <div id="carousel1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel1" data-slide-to="1"></li>
            <li data-target="#carousel1" data-slide-to="2"></li>
            <li data-target="#carousel1" data-slide-to="3"></li>
            <li data-target="#carousel1" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Welcome to Daivata Online!</h1>
                        <p>Spread, Follow, Get in touch with Devotees around the globe</p>
                        <img src="~/Content/Img/slide1.jpg" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Quick Tour of Daivata Online!</h1>
                        <p></p>
                        <p><a href="#" class="btn btn-lg btn-primary scroll-link" data-id="signup" role="button">Sign Up</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>How do I contribute on Daivata Online!</h1>
                        <p>Daivata is an online community program to bring all the divinty and cultural listings/events surrounding you. Any events of secred place that you visit, now can be shown to the world through Daivata Online which will help spread the experience and help people with different ways</p>
                        <img src="~/Content/Img/slide2.jpg" />

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Happy ONAM</h1>
                        <img src="~/Content/Img/slide3.jpg" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Event Updates</h1>
                        <p>Classical programs around Bangalore/Mysore and here is the list</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel1" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#carousel1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

</div>