@{
    ViewBag.Title = "MyActiveView";
}

<h3>Welcome Subramanya P</h3>

<!-- Updates -->

<div id="listings" class="row">
    <div class="col-md-6">
        <h4>Devalayas you follow - </h4>
        <a href=""><b>Create a new Devalaya Listing </b></a>
        <div class="row">
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img1.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img3.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img3.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img1.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img3.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img1.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img3.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img3.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img1.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img3.jpg" />
                </a>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img1.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img3.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img1.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img3.jpg" />
                </a>
            </div>
            <div class="col-xs-6 col-md-1 thumbnailpadding">
                <a href="#" class="thumbnail">
                    <img class="img-circle center-block" src="~/Content/Img/img2.jpg" />
                </a>
            </div>
        </div>
        <a href="~/Listings/Devalayas">Explore</a>
        <br />
        <h4>Events you follow </h4>
        <div class="row">
            <div class="col-xs-6 col-md-3 thumbnailpadding">
                <div class="panel panel-primary">
                    <div style="margin: 10px; height:200px">
                        <b>Ramanavami Uthsava</b>
                        Location - Kote temple, Bangalore <br />
                        Date - 11-10-2014 - 21-11-2014 <br />

                        <br />
                    </div>
                </div>
                </div>
            <div class="col-xs-6 col-md-3 thumbnailpadding">
                <div class="panel panel-primary">
                    <div style="margin: 10px; height:200px">
                        <b>Ramanavami Uthsava</b>
                        Location - Kote temple, Bangalore <br />
                        Date - 11-10-2014 - 21-11-2014 <br />

                        <br />
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 thumbnailpadding">
                <div class="panel panel-primary">
                    <div style="margin: 10px; height:200px">
                        <b>Ramanavami Uthsava</b>
                        Location - Kote temple, Bangalore <br />
                        Date - 11-10-2014 - 21-11-2014 <br />

                        <br />
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 thumbnailpadding">
                <div class="panel panel-primary">
                    <div style="margin: 10px; height:200px">
                        <b>Ramanavami Uthsava</b>
                        Location - Kote temple, Bangalore <br />
                        Date - 11-10-2014 - 21-11-2014 <br />

                        <br />
                    </div>
                </div>
            </div>
        </div>
        <a href="">Explore</a> <br />
    </div>

    <!-- Updates -->
    <div class="col-md-3">
        <h4>Updates</h4>
        <table>
            <tr><td><span class="fa fa-calendar"></span> <a href="">Sri Krishna Janmastami event has been added</a></td></tr>
            <tr>
                <td>17/9/2014</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><span class="fa fa-calendar"></span> <a href="">Madhwa Navami event has been added</a></td></tr>
            <tr>
                <td>7/11/2014</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><span class="fa fa-calendar"></span> <a href="">Uthana Dwadashi event has been added</a></td></tr>
            <tr>
                <td>7/10/2014</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><span class="fa fa-group"></span> Subramanya P has started a topic -when is Astami..</td></tr>
            <tr>
                <td>6/6/2014</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td>
                    <span class="fa fa-image"></span> Subramanya P has added a image to photo gallery <a href="#" class="thumbnail">
                        <img src="~/Content/Img/img2.jpg" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-pencil"></span> Rajanish Rao has updated a new blog <a href="#" class="thumbnail">
                        Significance of 18 in Bhagavdgeetha </span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>6/6/2014</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td>
                    <span class="fa fa-paint-brush"></span> On the event of Onam, Photography contest has been launched.. Check out for more details <a href="#" class="thumbnail">
                        Photography Contest Onam 2014 </span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>6/6/2014</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
        </table>

    </div>

    <!-- Panel -->
    <div class="col-md-3">
        <h4>My Account</h4>
        <a href="">Edit My Info</a> <br />
        <a href="">Create a Blog post</a><br />
        <a href="">Upload a Photo</a><br />
        <a href="">Participate in Contest</a>
    </div>
    </div>
    <br /><br />
