@import url( http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,600 );
@import url( http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700 );
body {
	
    -webkit-font-smoothing: antialiased;
        font-family: 'Century Gothic';
    font-size:13px;
    margin:10px;
    color:gray;
    /*background:url("Img/background.jpg")*/
    background-color:rgb(42, 18, 19);
}
h1 {
	font-family: 'Century Gothic', Verdana; color:white;
}
h2 {
	font-family: 'Century Gothic', Verdana; color:brown;
}
h3 {
	font-family: 'Century Gothic', Verdana; color:brown;
}
h4 {
	font-family: 'Century Gothic', Verdana; color:brown;
}
h5 {
	font-family: 'Century Gothic', Verdana; color:white;
}
h6 {
	font-family: 'Century Gothic', Verdana; color:white;
}
p {
	margin: 0px; padding: 0px;color:white;
}
.highlighthead
{
    color:white;
}

.invalidentry
{
    border-color : red;
}

a {
	color:white;
}
a:hover {
    	
}
a:hover {
	outline: 0px;
}
a:active {
	outline: 0px;
}
a:focus {
	outline: 0px;
}
hr {
	border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
:focus {
	
}
.blue {
	color: rgb(30, 210, 242);
}
.container {
	max-width: 1050px;
}
.head {
	padding: 0px; text-align: center; color: rgb(34, 34, 34); font-size: 40px;
}
.para {
	padding: 0px; text-align: center; color: rgb(119, 119, 119); font-size: 15px; margin-bottom: 50px;
}
.navbar {
	border-radius: 0px; margin-bottom: 0px; border-top-color: rgb(219, 211, 61); border-top-width: 4px; border-top-style: solid; box-shadow: 0px 1px 3px orange;
}
.navbar-inverse {
    /*background-color:rgb(42, 18, 19);*/
    
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0,rgb(97, 54, 40)),color-stop(1,#2A1213));
}
.navbar .navbar-header .navbar-brand {
	color: rgb(255, 255, 255); font-family: 'Century Gothic', sans-serif; font-size: 25px; font-weight: 700;
}
.navbar .collapse .nav li a {
	color: rgb(255, 255, 255);
}
.bannercontainer {
	padding: 0px; width: 100% !important; overflow: hidden; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; position: relative; box-shadow: 0px 0px 8px #333; background-color: rgb(0, 0, 0);
}
.bannercontainer .banner {
	width: 100%; height: 350px !important; overflow: hidden; position: relative;
}
.bannercontainer .banner .caption {
	color: rgb(255, 255, 255);
}
.bannercontainer .banner ul {
	list-style: none; padding-left: 0px; display: none;
}
.bannercontainer .banner h5 {
	background: rgba(0, 0, 0, 0.30); margin: 0px; padding: 10px 15px !important; line-height: 28px; font-size: 20px !important;
}
.bannercontainer .banner h2 {
	background: rgba(0, 0, 0, 0.30); margin: 15px 0px !important; padding: 10px 15px !important; line-height: 47px; font-size: 40px !important;
}
.bannercontainer .banner p {
	background: rgba(0, 0, 0, 0.30); padding: 10px 15px !important; line-height: 22px; font-size: 14px !important; margin-top: 35px !important; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;
}
.bannercontainer .banner .slide-img img {
	max-height: 240px;
}
.hero {
	background: url("../img/blue-back.png") rgb(34, 193, 224); padding: 30px 0px 40px; text-align: center; color: rgb(255, 255, 255); border-bottom-color: rgb(20, 127, 139); border-bottom-width: 1px; border-bottom-style: solid;
}
.hero .hero-head .animated.hero-h1 {
	opacity: 0; animation-duration: 1s; animation-delay: 1s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-delay: 1s; -moz-animation-delay: 0s; -o-animation-delay: 1s;
}
.hero .hero-head .animated.hero-p {
	opacity: 0; animation-duration: 1s; animation-delay: 1s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-delay: 1s; -moz-animation-delay: 0s; -o-animation-delay: 1s;
}
.hero .hero-head .animation.hero-h1 {
	opacity: 1;
}
.hero .hero-head .animation.hero-p {
	opacity: 1;
}
.hero .hero-head h1 {
	line-height: 55px; font-size: 50px; font-weight: normal;
}
.hero .hero-head p {
	margin: 5px auto; width: 100%; line-height: 30px; font-size: 22px; max-width: 750px;
}
.service {
	background: url("../img/service.png") rgb(255, 255, 255); padding: 40px 0px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 2px; border-bottom-style: solid;
}
.service .service-top {
	padding-bottom: 30px; margin-bottom: 50px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.service .service-top .simg {
	height: 150px; position: relative;
}
.service .service-top .simg img {
	left: 50%; margin-left: -65px; display: block;
}
.service .service-top .simg-one {
	position: absolute; z-index: 100; opacity: 0; animation-duration: 1s; animation-delay: 1.5s; -webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; -o-animation-duration: 1.5s; -webkit-animation-delay: 1.5s; -moz-animation-delay: 0.8s; -o-animation-delay: 0.8s;
}
.service .service-top .simg-three {
	position: absolute; z-index: 100; opacity: 0; animation-duration: 1s; animation-delay: 1.5s; -webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; -o-animation-duration: 1.5s; -webkit-animation-delay: 1.5s; -moz-animation-delay: 0.8s; -o-animation-delay: 0.8s;
}
.service .service-top .simg-five {
	position: absolute; z-index: 100; opacity: 0; animation-duration: 1s; animation-delay: 1.5s; -webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; -o-animation-duration: 1.5s; -webkit-animation-delay: 1.5s; -moz-animation-delay: 0.8s; -o-animation-delay: 0.8s;
}
.service .service-top .simg-seven {
	position: absolute; z-index: 100; opacity: 0; animation-duration: 1s; animation-delay: 1.5s; -webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; -o-animation-duration: 1.5s; -webkit-animation-delay: 1.5s; -moz-animation-delay: 0.8s; -o-animation-delay: 0.8s;
}
.service .service-top .simg-three {
	margin-top: 10px;
}
.service .service-top .simg-two {
	position: absolute; opacity: 0; animation-duration: 1s; animation-delay: 0s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -o-animation-delay: 0s;
}
.service .service-top .simg-four {
	position: absolute; opacity: 0; animation-duration: 1s; animation-delay: 0s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -o-animation-delay: 0s;
}
.service .service-top .simg-six {
	position: absolute; opacity: 0; animation-duration: 1s; animation-delay: 0s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -o-animation-delay: 0s;
}
.service .service-top .simg-eight {
	position: absolute; opacity: 0; animation-duration: 1s; animation-delay: 0s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -o-animation-delay: 0s;
}
.service .service-top .animation.simg-one {
	opacity: 1;
}
.service .service-top .animation.simg-two {
	opacity: 1;
}
.service .service-top .animation.simg-three {
	opacity: 1;
}
.service .service-top .animation.simg-four {
	opacity: 1;
}
.service .service-top .animation.simg-five {
	opacity: 1;
}
.service .service-top .animation.simg-six {
	opacity: 1;
}
.service .service-top .animation.simg-seven {
	opacity: 1;
}
.service .service-top .animation.simg-eight {
	opacity: 1;
}
.service .service-item i {
	width: 50px; height: 50px; text-align: center; color: rgb(42, 205, 224); line-height: 50px; font-size: 41px; display: inline-block;
}
.service .service-item h3 {
	margin: 0px; color: rgb(66, 74, 89); font-size: 27px; vertical-align: top; display: inline;
}
.service .service-item p {
	color: rgb(136, 136, 136); line-height: 23px; padding-bottom: 50px; font-size: 14px; margin-left: 54px;
}
.feature {
	padding: 20px 0px; 
}
.feature .container .head {
	color: rgb(255, 255, 255);
}
.feature .container .para {
	color: rgb(255, 255, 255);
}
.feature .feature-item {
	background: rgba(255, 255, 255, 0.18); margin: 0px auto 20px; padding: 10px; border-radius: 5px; border: 1px solid rgba(255, 255, 255, 0.3); border-image: none;  opacity: 1; box-shadow: inset 0px 0px 15px rgba(255,255,255,0.2); animation-duration: 1s; animation-delay: 0s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -o-animation-delay: 0s;
}
.feature .animation.feature-item {
	opacity: 1;
}
.feature .feature-item i {
	background: rgba(0, 0, 0, 0.2); border-radius: 100px; width: 60px; height: 60px; color: rgb(255, 255, 255); line-height: 60px; font-size: 40px; display: inline-block; box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
}
.feature .feature-item .green {
	background: rgb(41, 198, 20);
}
.feature .feature-item .red {
	background: rgb(227, 24, 34);
}
.feature .feature-item .blue {
	background: rgb(30, 210, 242);
}
.feature .feature-item .voilet {
	background: rgb(255, 135, 40);
}
.feature .feature-item h3 {
	margin: 12px 0px 0px; color: rgb(255, 255, 255); font-size: 23px;
}
.feature .feature-item p {
	color: rgb(255, 255, 255); line-height: 22px; padding-top: 10px; font-size: 15px;
}
.portfolio {
	background: rgb(23, 23, 23); padding: 40px 0px; border-top-color: rgb(51, 51, 51); border-top-width: 1px; border-top-style: solid; box-shadow: inset 0px 0px 20px #000;
}
.portfolio .container .head {
	color: rgb(255, 255, 255);
}
.portfolio .container .para {
	color: rgb(255, 255, 255);
}
.img-portfolio ul {
	margin: 0px; padding: 0px;
}
.portfolio li {
	border: currentColor !important; border-image: none !important; display: inline !important;
}
.portfolio li a {
	margin: 0px 5px; padding: 5px 10px; color: rgb(119, 119, 119);
}
.portfolio li a:visited {
	margin: 0px 5px; padding: 5px 10px; color: rgb(119, 119, 119);
}
.portfolio li a:hover {
	color: rgb(85, 85, 85);
}
#portfolio {
	text-align: center;
}
#portfolio .animated.p-item {
	opacity: 0; animation-duration: 1s; animation-delay: 0s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -o-animation-delay: 0s;
}
#portfolio .animation.p-item {
	opacity: 1;
}
#portfolio .pcap {
	background: url("../img/back-top.png") no-repeat rgb(17, 17, 17); margin: 0px auto 30px; padding: 6px 0px 3px; width: 100%; color: rgb(224, 224, 224); max-width: 300px; box-shadow: inset 0px 0px 10px #000;
}
#portfolio h4 {
	margin: 10px 0px 4px; padding: 0px; font-size: 17px;
}
#portfolio a {
	text-decoration: none;
}
#portfolio a:visited {
	text-decoration: none;
}
#portfolio a:hover {
	text-decoration: none;
}
#portfolio .pcap p {
	padding: 0px 10px 10px; font-size: 13px;
}
#portfolio .pcap {
	line-height: 20px;
}
#portfolio img {
	width: 100%; max-width: 300px;
}
div.ppt {
	display: none !important;
}
.team {
	background: url("../img/aboutus.png") rgb(255, 255, 255); padding: 40px 0px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.team .team-member {
	background: rgb(250, 250, 250); margin: 0px auto 20px; border-radius: 4px; border: 0px currentColor; border-image: none; max-width: 300px; opacity: 0; box-shadow: 0px 0px 3px #777; animation-duration: 1s; animation-delay: 0s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -o-animation-delay: 0s;
}
.team .animation.team-member {
	opacity: 1;
}
.team .team-member img {
	display: block; border-top-left-radius: 4px; border-top-right-radius: 4px;
}
.team .team-member .member-details {
	background: url("../img/back-top.png") no-repeat rgb(250, 250, 250); padding: 20px; text-align: center; color: rgb(102, 102, 102); margin-bottom: 5px; max-width: 300px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;
}
.team .team-member .member-details h3 {
	margin: 0px; padding-bottom: 7px; font-size: 20px;
}
.team .team-member .member-details span {
	font-size: 15px; margin-bottom: 10px; display: block;
}
.team .team-member .member-details p {
	font-size: 13px;
}
.team .team-member .member-details .social {
	margin-top: 15px;
}
.team .team-member .member-details .social a i {
	border-radius: 4px; transition:background 2s; width: 34px; height: 34px; color: rgb(255, 255, 255); line-height: 34px; font-size: 14px !important; text-decoration: none; margin-right: 1px; margin-left: 1px; display: inline-block; -webkit-transition: background 2s ease; -moz-transition: background 2s ease; -o-transition: background 2s ease;
}
.member-details .social a.facebook i {
	background: rgb(30, 120, 174);
}
.member-details .social a.twitter i {
	background: rgb(27, 161, 226);
}
.member-details .social a.google-plus i {
	background: rgb(242, 45, 12);
}
.member-details .social a.linkedin i {
	background: rgb(45, 147, 207);
}
.member-details .social a:hover i {
	background: rgb(0, 0, 0); transition:background 2s; -webkit-transition: background 2s ease; -moz-transition: background 2s ease; -o-transition: background 2s ease;
}
.member-details .social a {
	border: 0px currentColor; border-image: none; text-decoration: none;
}
.social a:hover {
	border: 0px currentColor; border-image: none; text-decoration: none;
}
.container .about-sub {
	padding: 0px; text-align: center; color: rgb(34, 34, 34); font-size: 30px;
}
.container .experience {
	text-align: center;
}
.experience .e-item {
	margin-bottom: 20px;
}
.experience .animated.e-item {
	opacity: 0; animation-duration: 1s; animation-delay: 0s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -o-animation-delay: 0s;
}
.experience .animation.e-item {
	opacity: 1;
}
.cta {
	background: url("../img/8.jpg") center rgb(255, 255, 255); margin: 0px; padding: 40px; color: rgb(255, 255, 255); border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; box-shadow: inset 0px 0px 10px #000;
}
.cta .cta-content {
	background: rgba(255, 255, 255, 0.18); padding: 30px; border-radius: 5px; border: 1px solid rgba(255, 255, 255, 0.3); border-image: none; box-shadow: inset 0px 0px 15px rgba(255,255,255,0.2);
}
.cta .cta-content span {
	line-height: 50px; font-family: "Open Sans Condensed", sans-serif; font-size: 30px; margin-left: 25px; display: inline-block;
}
.cta .cta-content a {
	background: rgb(30, 210, 242); border-radius: 5px; width: 240px; height: 60px; text-align: center; color: rgb(255, 255, 255); line-height: 60px; font-family: "Open Sans Condensed", sans-serif; font-size: 21px; font-weight: 700; margin-left: 50px; border-bottom-color: rgb(7, 170, 200); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block; box-shadow: inset 0px 0px 0px rgba(255,255,255,0.4), 0px 1px 2px rgba(0,0,0,0.3);
}
.cta .cta-content a:hover {
	background: rgb(21, 203, 235); text-decoration: none;
}
.product {
	background: url("../img/product.png") rgb(255, 255, 255); padding: 40px 0px; border-top-color: rgb(255, 255, 255); border-top-width: 2px; border-top-style: solid;
}
.product .product-content h3 {
	margin: 0px;
}
.product .product-content h3 i {
	color: rgb(42, 205, 224); margin-right: 5px;
}
.product .product-content p {
	margin: 15px 0px; line-height: 25px; font-size: 15px;
}
.product .product-content .sub-item i {
	color: rgb(42, 205, 224); margin-right: 10px; margin-bottom: 15px; display: inline-block;
}
.product .product-content .carousel .item img {
	border-radius: 10px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
.product .product-content .carousel-control {
	background: none;
}
.product .product-content .carousel-control {
	top: 50%;
}
.product .product-content .carousel-control span {
	color: rgb(0, 0, 0); font-size: 30px; margin-top: -30px;
}
.ptable {
	background: url("../img/wood-back.png") rgb(255, 255, 255); padding: 40px 0px; text-align: center; border-top-color: rgb(141, 141, 141); border-top-width: 1px; border-top-style: solid; box-shadow: inset 0px 0px 10px #999;
}
.ptable .container .head {
	color: rgb(97, 54, 40);
}
.ptable .container .para {
	color: rgb(97, 54, 40);
}
.ptable .ptable-content {
	background: rgb(255, 255, 255); margin: 0px auto 20px; padding: 20px 0px; border-radius: 5px; border: 1px solid rgb(187, 187, 187); border-image: none; max-width: 270px; opacity: 0; animation-duration: 1s; animation-delay: 0s; -webkit-animation-duration: 1s; -moz-animation-duration: 1s; -o-animation-duration: 1s; -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -o-animation-delay: 0s;
}
.ptable .animation.ptable-content {
	opacity: 1;
}
.ptable .ptable-content p {
	margin: 10px 0px 20px; color: rgb(170, 170, 170); font-size: 13px; font-style: italic;
}
.ptable .ptable-content .pcost {
	background: rgb(113, 201, 225); padding: 15px; color: rgb(255, 255, 255); font-size: 20px; border-right-color: rgb(113, 201, 225); border-left-color: rgb(113, 201, 225); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: block;
}
.ptable .phighlight {
	box-shadow: 0px 0px 10px #aaa;
}
.ptable .ptable-content .list {
	list-style: none; padding: 0px; color: rgb(153, 153, 153);
}
.ptable .ptable-content .list li {
	padding: 15px 0px; font-size: 13px; font-style: italic; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed;
}
.ptable .ptable-content a {
	margin: 10px 0px; border-bottom-color: rgb(15, 166, 188); border-bottom-width: 1px; border-bottom-style: solid; display: inline-block;
}
.contact {
	background: rgb(255, 255, 255); padding: 0px; border-top-color: rgb(102, 102, 102); border-top-width: 1px; border-top-style: solid; position: relative;
}
.contact .contact-area {
	left: 12%; top: 70px; width: 88%; position: absolute; z-index: 10;
}
.contact .contact-area .contact-form {
	background: url("../img/back-top.png") repeat-x rgb(255, 255, 255); padding: 20px; width: 500px; box-shadow: 0px 0px 10px #777;
}
.contact .contact-area .contact-form h4 {
	color: rgb(119, 119, 119); padding-top: 0px; padding-bottom: 10px; margin-top: 0px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.contact .contact-area .contact-form .form {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.contact-form .form .form-group label {
	font-size: 13px; font-weight: normal;
}
.contact-form .form .form-group input {
	font-size: 13px;
}
.contact-form .form .form-group textarea {
	font-size: 13px;
}
.contact-form .form button {
	font-size: 13px;
}
.contact .map {
	background: rgb(102, 153, 204); width: 100%; height: 500px; position: relative;
}
.totop {
	background: rgb(22, 203, 230); right: 0px; bottom: 0px; position: fixed; z-index: 104400;
}
.totop a {
	width: 30px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; display: block;
}
.totop a:visited {
	width: 30px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; display: block;
}
.totop a:hover {
	color: rgb(238, 238, 238); text-decoration: none;
}
.footer {
	padding: 40px 0px; border-top-color: rgb(51, 51, 51); border-top-width: 0px; border-top-style: none; box-shadow: none 0px 0px 10px #222;
}
.footer .footer-content {
	text-align: center;
}
.footer .footer-content .pnumber i {
	height: 50px; color: rgb(30, 210, 242); line-height: 50px; font-size: 40px; margin-right: 15px; display: inline-block;
}
.footer .footer-content .pnumber span {
	color: rgb(255, 255, 255); font-size: 50px; display: inline-block;
}
.footer .footer-content .pnumber span i {
	margin: 0px; font-size: 30px;
}
.footer .footer-content .social {
	margin: 25px 0px;
}
.footer .footer-content .social a i {
	border-radius: 60px; transition:background 2s; width: 50px; height: 50px; color: rgb(255, 255, 255); line-height: 50px; font-size: 20px !important; text-decoration: none; margin-right: 5px; margin-left: 5px; display: inline-block; -webkit-transition: background 2s ease; -moz-transition: background 2s ease; -o-transition: background 2s ease;
}
.footer-content .social a.facebook i {
	background: rgb(30, 120, 174);
}
.footer-content .social a.twitter i {
	background: rgb(27, 161, 226);
}
.footer-content .social a.google-plus i {
	background: rgb(242, 45, 12);
}
.footer-content .social a.linkedin i {
	background: rgb(45, 147, 207);
}
.footer-content .social a:hover i {
	background: rgb(0, 0, 0); transition:background 2s; -webkit-transition: background 2s ease; -moz-transition: background 2s ease; -o-transition: background 2s ease;
}
.footer-content .social a {
	border: 0px currentColor; border-image: none; text-decoration: none;
}
.social a:hover {
	border: 0px currentColor; border-image: none; text-decoration: none;
}
.footer .footer-content .content-copy {
	color: rgb(255, 255, 255); font-size: 15px; margin-top: 10px; display: inline-block;
}
.footer .footer-content .content-copy span a {
	color: rgb(204, 204, 204);
}
.footer .footer-content .content-copy span a:hover {
	color: rgb(238, 238, 238); text-decoration: none;
}
@media all and (max-width:480px)
{
.bannercontainer {
	max-height: 250px !important;
}
.bannercontainer .banner p {
	display: none !important;
}
.cta .cta-content a {
	font-size: 18px; max-width: 150px;
}
.product .product-content .carousel-control span {
	font-size: 20px; margin-top: -20px;
}
}
@media all and (max-width:767px)
{
.bannercontainer .banner h5 {
	line-height: 20px !important; font-size: 14px !important; margin-left: 20px !important;
}
.bannercontainer .banner h2 {
	margin: 5px 0px 5px 20px !important; line-height: 25px !important; font-size: 20px !important;
}
.bannercontainer .banner p {
	line-height: 15px !important; font-size: 11px !important; margin-top: 2px !important; margin-left: 20px !important;
}
.bannercontainer .banner .slide-img img {
	display: none !important;
}
.service .service-item {
	margin: 0px auto; max-width: 350px !important;
}
.cta .cta-content a {
	margin: 10px 10px 10px 0px !important;
}
.product .product-content {
	max-width: 400px !important;
}
.contact .contact-area .contact-form {
	width: 80% !important;
}
}
@media all and (max-width:991px)
{
.bannercontainer .banner p {
	line-height: 20px !important; font-size: 14px !important;
}
.cta .cta-content {
	padding: 10px !important; text-align: center !important;
}
.cta .cta-content span {
	margin-bottom: 10px !important; margin-left: 0px !important;
}
.product .product-content {
	margin: 0px auto !important;
}
.product .product-content .sub-item {
	margin-bottom: 20px !important;
}
}

.img-highlight{
    border: 2px solid rgb(212, 225, 41);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
    border-radius: 80px;
}



.step {
    text-align: center;
}

.step .col-md-1 {
    background-color: #fff;
    border: 1px solid #C0C0C0;
    border-right: none;
    width:10%
}

.step .col-md-1:last-child {
    border: 1px solid #C0C0C0;
}

.step .col-md-1:first-child {
    border-radius: 5px 0 0 5px;
}

.step .col-md-1:last-child {
    border-radius: 0 5px 5px 0;
}

.step .col-md-1:hover {
    color: #F58723;
    cursor: pointer;
}

.step .activestep {
    color: #F58723;
    height: 100px;
    margin-top: -7px;
    padding-top: 7px;
    border-left: 2px solid darkred !important;
    border-right: 2px solid darkred !important;
    border-top: 2px solid darkred !important;
    border-bottom: 2px solid darkred !important;
    vertical-align: central;
}

.step .fa {
    padding-top: 15px;
    font-size: 40px;
}

.hiddenStepInfo {
    display: none;
}

.activeStepInfo {
    display: block !important;
}

.navbaravatar{
    color:brown;
}

.highlightarea{
    background: rgba(255, 255, 255, 0.18);
    margin: 0px auto 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-image: none;
    opacity: 1;
    box-shadow: inset 0px 0px 15px ;
}
[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;line-height:14px;vertical-align:text-top;background-image:url("img/glyphicons-halflings.png");background-position:14px 14px;background-repeat:no-repeat;*margin-right:.3em;}[class^="icon-"]:last-child,[class*=" icon-"]:last-child{*margin-left:0;}

[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
}

.icon-list {
background-position: -360px -48px;
background-color:white;
}

.icon-th-list {
background-position: -264px 0;
background-color:white;
}
.icon-indent-right {
background-position: -408px -48px;
background-color:white;
}
.icon-indent-left {
background-position: -384px -48px;
background-color:white;
}

.icon-share {
background-position: -120px -72px;
background-color:white;
}

.icon-picture {
background-position: -456px -48px;
background-color:white;
}

.img-thumbnail{
    padding:1px;
}


/*
    Side bar menu
    */

/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');


/* custom template */
/*.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}*/

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-size:cover;
    background-attachment:fixed;
}

.divider {
	margin-top:32px;
}

#main {
    background-color:#fefefe;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#sidebar, #sidebar a {
    color:#ffffff;
    background-color:transparent;
	text-shadow:1px 0 1px #888888;
}
#sidebar a.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#777777;
  height:40px;
  width:40px;
  margin:15px;
  font-size:26px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 0;
}
#sidebar-footer {
  position:absolute;bottom:5px;
}
#footer {
  margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;
  }
  #sidebar a.logo {
    font-size:50px;
    height:75px;
    width:75px;
    margin-bottom:30px;
  }
}




/* bootstrap overrides */


.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

