@{
    ViewBag.Title = "Event";
}

<h3 class="listingtitle">Ramanavami Uthsava 2014</h3>
<h4>Udupi, Karnataka</h4>
<span class="fa fa-calendar"></span> 17-10-2014 to 11-11-2014 <br />
<div class="col-md-9">

    <div class="row">
        <div class="row step">
            <div id="div1" class="col-md-1 activestep thumbnailpadding" onclick="javascript: resetActive(event, 0, 'step-1');">
                <span class="fa fa-book"></span>
                <div>Details</div>
            </div>
            <div class="col-md-1 " onclick="javascript: resetActive(event, 20, 'step-2');">
                <span class="fa fa-clock-o"></span>
                <div>Timings</div>
            </div>
            <div class="col-md-1" onclick="javascript: resetActive(event, 40, 'step-3');">
                <span class="fa fa-map-marker"></span>
                <div>Location</div>
            </div>
            <div class="col-md-1" onclick="javascript: resetActive(event, 60, 'step-4');">
                <span class="fa fa-phone"></span>
                <div>Contact</div>
            </div>
            <div class="col-md-1" onclick="javascript: resetActive(event, 80, 'step-5');">
                <span class="fa fa-question"></span>
                <div>FAQ</div>
            </div>
            <div id="last" class="col-md-1" onclick="javascript: resetActive(event, 100, 'step-6');">
                <span class="fa fa-group"></span>
                <div>Discuss</div>
            </div>
            <div id="last" class="col-md-1" onclick="javascript: resetActive(event, 100, 'step-7');">
                <span class="fa fa-history"></span>
                <div>Updates</div>
            </div>
            <div id="last" class="col-md-1" onclick="javascript: resetActive(event, 100, 'step-8');">
                <span class="fa fa-bell"></span>
                <div>Followers</div>
            </div>
            <div id="last" class="col-md-1" onclick="javascript: resetActive(event, 100, 'step-9');">
                <span class="fa fa-bus"></span>
                <div>GO!!</div>
            </div>
        </div>
    </div>
    <div class="row setup-content step activeStepInfo" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12 well text-left">
                <h4>Temple of Music </h4><br />
                76th SREE RAMANAVAMI NATIONAL MUSICFESTIVEL <br />
                From 08.04.2014 to 08.05.2014 at the Special Pandal,<br />
                Govt. Junior College, Fort High School Grounds, Bangalore-560 018<br />
                76 Th SREE RAMANAVAMI NATIONAL MUSIC FESTIVEL<br />
                &<br />
                90 th Birth Anniversary of Late Sri SV Narayanaswamy Rao<br />
            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12 well text-left">
                APRIL  &  MAY 2013 MUSIC CONCERTS PROGRAMME (D.V.) : DAILY 5.15 PM TO 6.15 PM; 6.30 PM TO 9.30 PM

            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-3">
        <div class="col-xs-12">
            <a href="https://www.google.co.in/maps/place/%E0%A4%89%E0%A4%A1%E0%A5%81%E0%A4%AA%E0%A5%80+%E0%A4%95%E0%A5%83%E0%A4%B7%E0%A5%8D%E0%A4%A3+%E0%A4%AE%E0%A4%82%E0%A4%A6%E0%A4%BF%E0%A4%B0/13.332222,74.746111,17z/data=!3m1!4b1!4m2!3m1!1s0x3bbcbb6d7a84309b:0xfc31a5d1f9fa2f85" target="new">View it on Google Map </a> <br />
            <div class="page-section">
                <div class="row">
                    <div id="map-container"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-4">
        <div class="col-xs-12">
            <div class="col-md-12 well text-left">
                S.N.VARADARAJ, <br />

                GENERAL SECRETARY & C.E.O<br />
                SREE RAMASEVA MANDALI<br />
                #21/1, S.V. NARAYANASWAMY RAO MARG,<br />
                E-mail : ramasevamandali@gmail.com<br />
                CHAMARAJPET,BANGALORE-560 018<br />
                Tweet us  www.twitter.com/temple of music<br />
                Phone :26604031 (office)<br />
                Follow us www.facebook.com/  Sree Ramaseva Mandali, Bangalore – 560 018<br />
                Cell : 99649 50778, 94480-79079<br />
                        </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-5">
        <div class="col-xs-12">
            <div class="col-md-12 well text-left">
                <h4>Travel Tips</h4>
                <br />
                <b>Banks</b>
                <br />
                Banks are open for Transaction from 10:00 am - 03:30 pm hrs on weekdays and from 10:00 am - 12:00 am hrs on Saturdays. Click here to visit for Money Exchange Centers
                <br /><br />
                <b>Time Zone</b> <br />
                (Hours fast (+), slow (-) on IST)
                USA: -10.30, Germany: - 4.30, Canada: - 10.30, France: - 4.30, Australia: + 4.30, Spain: - 4.30, UAE: - 1.30, UK: - 5:30.
                <br /><br />
                <b>Best Time to visit Udupi</b> <br />
                Summer Season <br />
                Time To Visit : March to May.<br />
                Max Temperature : 40°C<br />
                Min.Temperature : 18°C<br /><br />
                Monsoon Season<br />
                Time To Visit : June to September.<br />
                Max Temperature : 28°C<br />
                Min.Temperature : 23°C<br /><br />
                Winter Season
                Time To Visit : December to February .<br />
                Max Temperature : 32°C<br />
                Min.Temperature : 14°C<br />
                <br />
                <b>Travel Kit</b><br />
                Cotton Outfits, Hats, Sunglasses, Sunscreen lotion etc.
                <br />
                <br />
                <b>Food</b><br />
                All Standard Restaurants offer a variety of cuisines including Continental, Chinese, Indian and Typical Udupi fare.

                <br /><br />
                <b>Emergency Numbers</b> <br />
                Police Control Room : 0820-2526444 /9480805400 <br />
                Fire station : 0820-2520333 <br />
                Ambulance: 108 /0820-2571210<br /><br />
                <b>Dress Code</b> <br />
                Strict dress codes are followed in most of the temples. Footwear is banned inside the temple premises. <br /><br />
            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-6">
        <div class="col-xs-12">
            <div class="col-md-12 well text-left">
                <h4>Start a Discussion topic</h4>
                <br />
                <input type="text" placeholder="Discussion topic" class="width=500px" /> <input type="button" class="btn btn-group-sm" value="Start" />
                <br /><br />
                <b>When is Krishnastami at Udupi 2014?</b>
                <br />Subramanya P at 6/6/2014 12:09 PM
                <br />
                Vadiraj says <br />
                Krishnastamai will be celeberated on Sept 17th in Udupi
                <br /> 8/6/2014 4:00 PM <br />
                <a href="" class="underline">Reply</a>

            </div>
        </div>
    </div>
    
    <div class="row setup-content step hiddenStepInfo" id="step-7">
        <div class="col-xs-12">
            <div class="col-md-12 well text-left">
                <table>
                    <tr><td><span class="fa fa-calendar"></span> <a href="">Sri Krishna Janmastami event has been added</a></td></tr>
                    <tr>
                        <td>17/9/2014</td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td><span class="fa fa-calendar"></span> <a href="">Madhwa Navami event has been added</a></td></tr>
                    <tr>
                        <td>7/11/2014</td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td><span class="fa fa-calendar"></span> <a href="">Uthana Dwadashi event has been added</a></td></tr>
                    <tr>
                        <td>7/10/2014</td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td><span class="fa fa-group"></span> Subramanya P has started a topic -when is Astami..</td></tr>
                    <tr>
                        <td>6/6/2014</td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <span class="fa fa-image"></span> Subramanya P has added a image to photo gallery <a href="#" class="thumbnail">
                                <img src="~/Content/Img/img2.jpg" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>6/6/2014</td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                </table>

            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-8">
        <div class="col-xs-12">
            <div class="col-md-12 well text-left">

            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-9">
        <div class="col-xs-12">
            <div class="col-md-12 well text-left">
                <h4>How to reach</h4><br />

                <br />
                <h4>Train Services</h4>

                <table border="1">
                    <tr>
                        <th>Train no</th>
                        <th>Train name</th>
                        <th>Via route</th>
                        <th>Arrival Time</th>
                        <th>Departure Time</th>
                        <th>Journey Days</th>
                        <th>Train Timing</th>
                        <th>Train Days</th>
                    </tr>
                    <tr>
                        <td>12133</td>
                        <td>Mumbai-Mangalore</td>
                        <td>Junction Express</td>
                        <td>Mumbai CST - Ratnagiri - Karwar - Kumta - Udupi</td>
                        <td>Source	10.15 pm</td>
                        <td>1</td>
                        <td>11:10 am</td>
                        <td>Daily</td>
                    </tr>
                </table>
                <br />
                <h4>Bus Services</h4>

                <br /><br />
                <h4>Air Services</h4>

                <br /><br />
            </div>
        </div>
    </div>

</div>

<div class="col-md-3">
    <div class="row">
        <div class="col-xs-12 col-md-12 thumbnailpadding">
            <a href="#" class="thumbnail">
                <img src="~/Content/Img/img5.jpg" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 thumbnailpadding">
            <a href="#" class="">
                Upload a photo
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3 thumbnailpadding">
            <a href="#" class="thumbnail">
                <img src="~/Content/Img/gal1.jpg" />
            </a>
        </div>
        <div class="col-xs-6 col-md-3 thumbnailpadding">
            <a href="#" class="thumbnail">
                <img src="~/Content/Img/gal2.jpg" />
            </a>
        </div>
        <div class="col-xs-6 col-md-3 thumbnailpadding">
            <a href="#" class="thumbnail">
                <img src="~/Content/Img/gal3.jpg" />
            </a>
        </div>
        <div class="col-xs-6 col-md-3 thumbnailpadding">
            <a href="#" class="thumbnail">
                <img src="~/Content/Img/gal4.jpg" />
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-3 thumbnailpadding">
            <a href="#" class="thumbnail">
                <img src="~/Content/Img/img2.jpg" />
            </a>
        </div>
        <div class="col-xs-6 col-md-3 thumbnailpadding">
            <a href="#" class="thumbnail">
                <img src="~/Content/Img/img2.jpg" />
            </a>
        </div>
        <div class="col-xs-6 col-md-3 thumbnailpadding">
            <a href="#" class="thumbnail">
                <img src="~/Content/Img/img2.jpg" />
            </a>
        </div>
        <div class="col-xs-6 col-md-3 thumbnailpadding">
            <a href="#" class="thumbnail">
                <img src="~/Content/Img/img2.jpg" />
            </a>
        </div>
    </div>
</div>

<br />
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script language="javascript">
    function init_map() {
        var myLocation = new google.maps.LatLng(13.332222, 74.746111);
        var mapOptions = {
            center: myLocation,
            zoom: 20
        };

        var marker = new google.maps.Marker({
            position: myLocation,
            title: "Location"
        });

        var map = new google.maps.Map(document.getElementById("map-container"),
            mapOptions);

        marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', init_map);
    /* end google maps -----------------------------------------------------*/

</script>